*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: font;
    src: url('/assets/fonts/TheMix-6-SemiBoldCaps.otf');
}
@font-face {
    font-family: fontBold;
    src: url("/assets/fonts/TheMix-9-BlackCaps.otf");
}

.wrapper{
    width: 100vw;
    height: 101vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('/assets/images/mountain-background.svg');
    background-size: cover;
}

.glass{
    background: #385a6420;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
}

.btn{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #385A64;
    color: white;
    font-size: 1.2rem;
    font-family: font;
    margin: 10px 0;
    cursor: pointer;
}

.hide{
    display: none;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.jc-start{
    justify-content: flex-start;
}
.jc-center{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-sa{
    justify-content: space-around;
}
.jc-se{
    justify-content: space-evenly;
}
.ai-center{
    align-items: center;
}

.input{
    width: 80%;
    height: 35px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-size: 20px;
    color: #385A64;
    font-family: fontBold;
    margin-bottom: 10px;
}
.p{
    text-align: center;
    font-size: 20px;
    color: #385A64;
    font-family: font;
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}

.page{
    height: 100vh;
    width: 100vw;
}
.half-page{
    width: 40%;
    height: 50%;
    padding: 50px;
}

/* Registration Form */
.register-form{
    width: 30%;
    height: 65%;
    padding: 20px;
}
.register-form > div {
    width: 80%;
}
/*  */

/* Merge Sort */
.merge-sort{
    width: 70%;
    height: 50%;
    padding: 50px;
}

.merge-result{
    margin-bottom: 40px;
    padding: 20px;
}
.merge-result > h3 {
    font-family: fontBold;
    color: #1B2E35;
    font-size: 35px;
    margin-bottom: 10px;
}
.merge-result > p {
    color: #385A64;
    font-family: font;
    font-size: 40px;
}
/*  */

/* Palindrome */
.palindrome-text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
}

/* Course Form */
.course-form {
    width: 50%;
    height: 60%;
}
.course-form-info{
    width: 70%;
}
.course-form-info > div {
    width: 50%;
}
.course-info > h3 {
   font-size: 40px; 
}

.scroll-top{
    position: relative;
    align-self: center;
    margin: 0px 45%;
    bottom: 100px;
}

.course-form-text{
    width: 30%;
    height: 60%;
    padding: 20px;
    font-family: fontbold;
    color: #1B2E35;
    line-height: 35px;
}