*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: font;
    src: url('/assets/fonts/TheMix-6-SemiBoldCaps.otf');
}
@font-face {
    font-family: fontBold;
    src: url("/assets/fonts/TheMix-9-BlackCaps.otf");
}

.page{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.register-form-page{
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/images/mountain-background.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    width: 30%;
    height: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #385a6420;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
}

.first{
    text-align: center;
    font-size: 20px;
    color: #385A64;
    font-family: fontBold;
}

.second{
    display: flex;
    justify-content: space-between;
    margin: 10% 0 2%;
}
.second > input{
    width: 48%;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
}

.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third > input {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.third > span {
    align-self: flex-start;
    padding: 5px 20px;
    color: #1B2E35;
    font-family: font;
}